version: '3'
services:
    devices_uService:
        image: energy-ms-devices-us-image
        restart: always
        ports:
            - "8082:8080"
        networks:
            energy-ms-net:
                ipv4_address: 172.20.0.2
        environment:
            - TZ=UTC
            - DB_IP=devices_db
            - DB_PORT=3306
            - DB_USER=your-credential
            - DB_PASSWORD=your-credential
            - DB_DBNAME=energy-ms-devices
            - PORT=8080
            - RABBITMQ_HOST=your-hostname
            - RABBITMQ_PORT=5671
            - RABBITMQ_USER=your-user
            - RABBITMQ_PASS=your-pass
            - RABBITMQ_MEASUREMENTS_QUEUE=devices_energy_consumption
            - RABBITMQ_DEVICES_CHANGE_QUEUE=devices_change_queue
        depends_on:
            - devices_db
        expose:
            - 8080
    users_uService:
        image: energy-ms-users-us-image
        ports:
            - "8081:8080"
        networks:
            energy-ms-net:
                ipv4_address: 172.20.0.3
        environment:
            - TZ=UTC
            - DB_IP=users_db
            - DB_PORT=3306
            - DB_USER=your-credential
            - DB_PASSWORD=your-credential
            - DB_DBNAME=energy-ms-users
            - DEVICES_IP=172.20.0.2
            - DEVICES_PORT=8080
            - PORT=8080
        depends_on:
            - users_db
            - devices_uService
        expose:
            - 8080
    users_db:
        image: mysql
        ports:
            - "3307:3306"
        networks:
            energy-ms-net:
                ipv4_address: 172.20.0.4
        environment:
            - MYSQL_your-credential_PASSWORD=your-credential
            - MYSQL_DATABASE=energy-ms-users
    devices_db:
        image: mysql
        ports:
            - "3308:3306"
        networks:
            energy-ms-net:
                ipv4_address: 172.20.0.5
        environment:
            - MYSQL_your-credential_PASSWORD=your-credential
            - MYSQL_DATABASE=energy-ms-devices
    frontend_app:
        image: energy-ms-frontend
        ports:
            - "80:80"
        networks:
            energy-ms-net:
                ipv4_address: 172.20.0.6
    measurements_uservice:
        image: energy-ms-measurements-us
        ports:
            - "8083:8080"
        environment:
            - TZ=UTC
            - DB_IP=measurements_db
            - DB_PORT=3306
            - DB_USER=your-credential
            - DB_PASSWORD=your-credential
            - DB_DBNAME=energy-ms-measurements
            - PORT=8080
            - RABBITMQ_HOST=your-hostname
            - RABBITMQ_PORT=5671
            - RABBITMQ_USER=your-user
            - RABBITMQ_PASS=your-pass
            - RABBITMQ_MEASUREMENTS_QUEUE=devices_energy_consumption
            - RABBITMQ_DEVICES_CHANGE_QUEUE=devices_change_queue
        depends_on:
            - measurements_db
        networks:
            energy-ms-net:
                ipv4_address: 172.20.0.7
    measurements_db:
        image: mysql
        ports:
            - "3309:3306"
        networks:
            energy-ms-net:
                ipv4_address: 172.20.0.8
        environment:
            - MYSQL_your-credential_PASSWORD=your-credential
            - MYSQL_DATABASE=energy-ms-measurements

networks:
    energy-ms-net:
        driver: bridge
        ipam:
            config:
                - subnet: 172.20.0.0/16