### Example file - insert your data to run locally

###############################################
### EMBEDDED TOMCAT CONFIGURATIONS ###
###############################################
server.port=${PORT:8081}

###############################################
### JWT ##
###############################################
jwt.secret=your-secret-key-encoded-base64